* {
    cursor: none;
}

.cursor {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    transition: height 0.3s ease-out, width 0.3s ease-out, border 0.3s ease-out, transform 80ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    z-index: 100;
}

.cursor2 {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    mix-blend-mode: difference;
    background-color: white;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 100;
}

.cursorhover {
    border: 2px solid #fd9b97;
    width: 20px;
    height: 20px;
}

.cursorclick2 {
    width: 20px;
    height: 20px;
}

.cursorhover2 {
    background-color: #fd9b97;
    opacity: 1;
    mix-blend-mode: multiply;
}

.whitebg {
    border: 2px solid #bbfcff;
}

.whitebg2 {
    background-color: #bbfcff;
    mix-blend-mode: multiply;
    opacity: 1;
}


@media (hover: none){    

  * { cursor: default;
  }

  .cursor, .cursor2 {
    display: none;
  }
  
}