#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: white;
    pointer-events: none;
    opacity: 1;
    z-index: 9;
    mix-blend-mode: normal;
    transition: opacity .5s, background .5s, transform .5s, mix-blend-mode 5s;
}
#cursor.hovered {
    opacity: .5;
    mix-blend-mode: multiply;
    background: #fd9b97;
    transform: scale(4);
}

#circle {
    position: absolute;
    pointer-events: none;
    width: 40px;
    height: 40px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.2s cubic-bezier(0, 0.5, 1, 1);
    /* transition: all 0.2s ease-out; */
    z-index: 9;
}

#circle.hovered {
    transform: scale(.75);
}

* {
    cursor: none;
}

.normal {
    cursor: auto;
}

.nope {
    display: none;
}
